<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Binder
    </ion-title>
    <ion-buttons end >
      <button ion-button clear icon-only item-right (click)="showSearchUser()">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button clear icon-only item-right (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button clear icon-only item-right (click)="showMessagePage()">
        <ion-icon name="mail"></ion-icon>
      </button>    
       <button ion-button clear icon-only item-right (click)="showSellPage()">
        <ion-icon name="pricetag"></ion-icon>
       </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Getting fresh posts">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf=" result == null || result == 0">
    <ion-card-content>
      <ion-card-title>
        Nothing to show!
      </ion-card-title>
      <p>Try following nice people on Binder</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let post of posts">
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="{{post.userImage}}"/>
        </ion-avatar>
        <h3><b>@{{post.username}}</b></h3>
      </ion-item>
    </ion-list>
    <ion-thumbnail>
      <img src="{{post.postImage}}"/>
    </ion-thumbnail>

    <ion-card-content>
      <ion-card-title>
        {{post.itemName}}
      </ion-card-title>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="pricetag" item-left></ion-icon>
            <h3><b>PRICE</b></h3>
            <p>
              P {{post.price}}
            </p>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
              <ion-icon name="pin" item-left></ion-icon>
              <h3><b>LOCATION</b></h3>
              <p>
                {{post.locationName}}
              </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small icon-only color="danger" icon-left>
          <ion-icon name='heart-outline'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small icon-only color="danger" icon-left>
          <ion-icon name='share'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small icon-only color="danger" icon-left>
          <ion-icon name='warning'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
